﻿html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 40px;
    font-family: "Open Sans", sans-serif;
}
header {
    background-color: #2CA6EB;

}
#login_form {
    background-color: #ECEDEF;
    margin: 180px auto 0;
    padding: 20px 40px;
    width: 300px;
    border-radius:5px;
    border: 1px solid #E5E6E6;
    color:#565253;
}
#login_form .form-control {
    border: 1px solid #C5C5C5;
}
.btn-color {
    color:#3DC9B0;
    font-weight: bold;
    text-decoration: underline;
}
.btn-login {
    background-color:#3DC9B0;
    width: 80px;
    border-color: #4cae4c;
    color: #fff;
}
footer {
    position: absolute;
    bottom:0;
    background-color: #414A4E;
    height:40px;
    width: 100%;
}